extends ./layout.pug  
block metadatos
	meta(property="og:image", content="/imagenes/logo.fw.png")
	meta(property="og:url", content="causa-obrera.org")
	meta(property="og:title", content="Partido de la Causa Obrera")
	meta(property="og:description", content="Contacta con militantes del Partido de la Causa Obrera.")
block contenido
	main
		.alert.alert-dark.text-center
			h1 Contacto
			| Podés contactarte con nosotros a través de nuestro mail:
			br
			.mail PartidodelaCausaObrera@hotmail.com.ar
			br
			| o a través de Facebook: 
			br
			a(href="https://www.facebook.com/juventud.d.pco/" target="blank")
				i.fa.fa-facebook-square
