extends ./layout.pug
 
block contenido
  articles  
    - for (var i = 0; i < posts.length; i++) {
      - slug = posts[i].slug
      - url = posts[i].image.secure_url 
      article
        a(href= '/nota/'+slug, style='text-decoration: none; color: black;')
          .titulo-container           
            .titulo #{posts[i].title}
          .img
            img( src = url, alt='aceiteros')
          .cuerpo
            | !{posts[i].content.brief}
    - }
