extends ./layout.pug
block metadatos  
	meta(property="og:image", content="http://causa-obrera.org/imagenes/logo.fw.png")
	meta(property="og:url", content="causa-obrera.org")
	meta(property="og:title", content="Partido de la Causa Obrera")
	meta(property="og:description", content="Llamamos a los trabajadores conscientes, a la juventud y a las mujeres explotadas y oprimidas, a tomar junto con nosotros la gran tarea de construir un nuevo partido mundial de la revolución socialista.")
block contenido
	main
		.nota  
			.quienes
				h2(align='center', style='background-color: #2E2E2E;color: white; padding: 5px')
					| ¿Quiénes somos?
				
				p El Partido de La Causa Obrera se basa teóricamente en el marxismo, reconoce como fundamentos programáticos las resoluciones de los cuatro primeros congresos de la Internacional Comunista, y considera como su continuidad teórico-programática la teoría de la revolución permanente, el programa de transición y el legado programático y la experiencia táctica de la corriente trotskista hasta la fundación de la IV Internacional. Adopta como elementos constitutivos de un programa en elaboración las resoluciones programáticas de sus congresos y conferencias.
				p Su régimen interno de funcionamiento está basado en el centralismo democrático, así como su estructura y métodos toman como fundamento las resoluciones de los cuatro primeros congresos de la Internacional Comunista.
				p Sostenemos que sigue plenamente vigente la caracterización leninista de la época imperialista, como de decadencia del capitalismo mundial, época de crisis, guerras y revoluciones.
				p Sostenemos la lucha estratégica por la dictadura del proletariado y la revolución socialista, la cual está determinada, no por las relaciones de fuerzas de una etapa de la lucha de clases, sino por la madurez a nivel mundial de las condiciones objetivas para la revolución socialista.
				p Tampoco es la conciencia del proletariado la que determina el programa del partido revolucionario. La función de la política basada en el programa de transición, es la de tender el puente entre la conciencia inmediata y la comprensión de las tareas históricas del proletariado. 
				p Defendemos la necesidad de luchar por establecer la dictadura del proletariado basada en los consejos de delegados obreros, como régimen de transición del capitalismo al socialismo y como palanca para el desarrollo de la revolución socialista mundial. 
				p Rechazamos los intentos de diluir la dictadura del proletariado en el sufragio universal de carácter burgués, o de “combinar” los “soviets” con la Asamblea Constituyente.
				p El estado obrero revolucionario ejerce su dictadura contra la burguesía y todos los explotadores, pero a la vez se basa en la más amplia democracia para el proletariado y todos los explotados.  El nuevo estado revolucionario es el estado de los organismos democráticos de delegados de los obreros y demás sectores explotados.

				h4 La lucha contra la socialdemocracia, los partidos comunistas, el nacionalismo burgués, la nueva izquierda y la burocracia sindical.

				p Los partidos socialdemócratas y laboristas, se han transformado en partidos directamente burgueses. Ya no mantienen lazos orgánicos con la clase obrera como ocurría durante el siglo pasado. Hasta han abandonado las vagas referencias programáticas al socialismo. 
				p La gran mayoría de los PC stalinistas hace años que se han “socialdemocratizado”, transformándose en organizaciones pequeñoburguesas, mientras sólo una pequeña minoría de ellos, como el KKE griego, mantiene todavía una estructura con base obrera, aunque igualmente al servicio de la burguesía “nacional”. La burocracia castrista misma, que siempre ha sido una dirección pequeñoburguesa, ha seguido los pasos claudicantes del stalinismo mundial.
				p Un nacionalismo burgués senil reapareció de la mano del chavismo, y con la crisis capitalista se extendió a Argentina, Bolivia y Ecuador, para engañar a las masas trabajadoras -y campesinas-llevándolas a la vía muerta del falso “socialismo del siglo XXI”, el “capitalismo andino” o el “capitalismo serio con inclusión social”. Pero la crisis que lentamente se profundiza en América Latina, ha desgastado a la mayoría estos gobiernos, los que parcialmente desenmascarados ante las masas, vieron el final de su ciclo político.
				p Todos estos partidos se han apoyado en la burocracia sindical, que ha resultado la gran barrera para desorganizar, desmovilizar y reprimir con bandas de matones fascistas a los trabajadores que luchan.

				h4 Las principales corrientes de la IV Internacional  han cristalizado como reformistas y centristas.

				p La fundación de la IV Internacional fue la última gran tarea de León Trotsky antes de su asesinato a manos de un agente stalinista. Tanto los avances teóricos, como la experiencia estratégica y táctica que los bolcheviques leninistas aportaron al marxismo, extraídas de las enseñanzas de las luchas revolucionarias de las primeras décadas del siglo pasado, fueron su extraordinario legado. 
				p La IV Internacional después de la segunda Guerra Mundial se dividió, se reunificó y se volvió a dividir en distintas tendencias, pero todas capitularon a algún sector de las direcciones burguesas o pequeñoburguesas que dirigían al movimiento de masas. Hace largo tiempo que las principales corrientes han cristalizado en posiciones revisionistas, capitulando a corrientes burguesas o pequeño burguesas, lo que determina que ya no son recuperables como tales para el marxismo revolucionario. Lo que no implica que en determinadas circunstancias puedan surgir de su seno tendencias de izquierda que se orienten hacia el programa y los principios revolucionarios.				

				h4 ¿Cómo surge el PCO?

				p El PCO surge de la unificación a fines del 2012 del PRS- (Partido de la Revolución Socialista-La Causa Obrera) y la Corriente de Trabajadores.
				p A su vez el PRS-LCO se formó en el 2002 a partir de la unificación de 4 grupos provenientes de rupturas del MAS al calor del ascenso de masas en diciembre de 2001 en Argentina. Y la Corriente de Trabajadores surgió de una ruptura con el PO (Partido Obrero) en el año 2006. 
				p Pasando por unos meses donde publicamos cinco números de un periódico del Comité de Enlace, la unificación se logra después de casi dos años de debate, de intercambio de opiniones y de intervención en común en las diferentes luchas. 
				p La construcción de esta unidad tuvo como uno de sus ejes, la superación de la atomización de las fuerzas revolucionarias, y a demostrar que, sobre la base de principios programáticos y métodos comunes, se puede y se debe avanzar en el reagrupamiento de los revolucionarios. Este método de construcción nos ha permitido establecer un Comité de Enlace con el Topo Obrero -CSR- de Venezuela. 
				p Así como lo hemos aprendido de nuestros maestros, Marx, Engels, Lenin y Trotsky, es indispensable abandonar el aparatismo autorreferencial y la autoproclamación como método de construcción y el sectarismo liquidacionista como forma de resolver diferencias políticas secundarias, características que son comunes a algunas organizaciones de la izquierda trotskista que se reivindican revolucionarias y que lo único que provocan es una división artificial en la vanguardia obrera y juvenil. 
				p Con esto no queremos decir que las divisiones existentes entre los partidos y grupos de la izquierda trotskista se deban sólo a problemas de método o régimen interno. La clase obrera es la más homogénea de la sociedad capitalista. Pero aún así, contiene en su seno diferentes capas. La aristocracia obrera y las capas pequeñoburguesas proletarizadas son las correas sociales de transmisión de las posiciones oportunistas y centristas. La división de las organizaciones políticas obreras en tres tendencias fundamentales, marxistas, oportunistas y centristas, es inevitable en la época imperialista. 
				p Para esto creemos y sostenemos firmemente como principio fundamental, el centralismo democrático para dirimir las diferencias, es decir, con un sano régimen interno en el cual se puedan discutir las diferencias políticas en un marco fraternal y democrático, para luego intervenir en la lucha de clases de manera unificada, como un solo puño, tal como lo exige la lucha de clases. 
				p El partido leninista que queremos construir debe ser a la vez inflexible en la defensa de los principios marxistas.
				p No hay atajos, ni caminos fáciles. La construcción de un Partido revolucionario para luchar por el poder, que sea parte de una Internacional Obrera Revolucionaria, quizás sea la tarea más difícil, pero es la más importante que tiene planteada la vanguardia de la clase obrera, y el pueblo pobre oprimido y explotado.